<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 id="site-main-link" mat-button [routerLink]="'/main'">Website</h1>
        <div class="nav-links">
            <a mat-button [routerLink]="'/about'"> About Page </a>
            <a mat-button [routerLink]="'/games'"> Games </a>
            <a mat-button [routerLink]="'/links'"> Links </a>
            <a mat-button [routerLink]="'/programs'"> Programs </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>