mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

#site-main-link {
    cursor: pointer;
}

.nav-links {
    text-align: right;
}

.is-active {
    color: rgb(248, 223, 110);
    text-decoration: underline;
}