<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 id="site-main-link" mat-button [routerLink]="'/main'">Website</h1>
        <div class="nav-links">
            <a mat-button [routerLink]="'/about'" [routerLinkActive]="['is-active']"> About Page </a>
            <a mat-button [routerLink]="'/todo'" [routerLinkActive]="['is-active']"> Todos </a>
            <a mat-button [routerLink]="'/tests'" [routerLinkActive]="['is-active']"> Tests </a>
            <a mat-button [routerLink]="'/games'" [routerLinkActive]="['is-active']"> Games </a>
            <a mat-button [routerLink]="'/projects'" [routerLinkActive]="['is-active']"> Projects </a>
            <a mat-button [routerLink]="'/links'" [routerLinkActive]="['is-active']"> Links </a>
            <a mat-button [routerLink]="'/programs'" [routerLinkActive]="['is-active']"> School Programs </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>