.link-card {
    max-width: 400px;
}

.tab-icon {
    margin-right: 8px;
}

.link-container {
    display: flex;
    justify-content: space-around;
}

.links {
    display: inline-block;
    margin: 25px;
}

.tab-icon {
    border: solid black 1px;
}